{% extends "layouts/no-footer.njk" %}
{% block content %}
    <main id="main">
        <div class="bg-skew bg-skew-light pb-3 min-vh-80">

            <div class="container my-6 my-lg-7">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-6">
                        <h1 class="h2 text-center my-3">Log In</h1>
                        <form class="py-4">
                            <div class="form-group">
                                <label for="email" class="small text-uppercase">Email Address</label>
                                <input type="email" id="email" class="form-control" required>
                            </div>
                            <div class="form-group mb-4">
                                <label for="password" class="small text-uppercase">Password</label>
                                <input type="password" id="password" class="form-control mb-1" required>
                                <small><a href="account-forgot-pwd.html">Forgot your password?</a></small>
                            </div>
                            <button type="submit" class="btn btn-pill btn-primary btn-block">Log in</button>
                        </form>
                        <hr role="presentation">
                        <div class="text-secondary text-center">
                            <small>Don't have an account yet? <a href="account-sign-up.html">Sign Up</a></small>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end bg-skew -->

    </main>
{% endblock %}
