{% extends "layouts/docs.njk" %}
{% set page = "components" %}
{% block content %}
    <main id="main">
        <div class="bg-light mb-5">
            <div class="container">
                <div class="row py-5">
                    <div class="col-lg-9">
                        <h1 class="display-4 mb-4">Components</h1>
                        <p class="lead mb-4">Since this theme is based on Bootstrap, it includes all <a href="https://getbootstrap.com/docs/4.1/getting-started/introduction/" target="_blank">Bootstrap</a> itself does, but with new aesthetics and some extra classes.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 pl-lg-4 order-lg-2">
                    <nav id="nav-comp" class="navbar navbar-expand-lg navbar-light sticky-top mb-3 pl-0" aria-label="Components navigation">
                        <a class="collapsed btn btn-outline-dark btn-block d-lg-none mb-3 p-3" href="#collapseOne" data-toggle="collapse" data-target="#navbarComp" aria-expanded="false" aria-controls="navbarComp" aria-label="Toggle navigation">
                            <span class="text-uppercase">Navigation<i class="fas fa-angle-down ml-4 rotate-icon"></i></span>
                        </a>

                        <div class="collapse navbar-collapse" id="navbarComp">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="#accordion">Accordion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#alerts">Alerts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#avatars">Avatars</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#backgrounds">Backgrounds</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#blockquotes">Blockquotes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#buttons">Buttons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#cards">Cards</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#devices">Devices</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#dropdowns">Dropdowns</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#forms">Forms</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#icons">Icons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#links">Links</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pagination">Pagination</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tables">Tables</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#text">Text</a>
                                </li>
                                <li class="nav-item d-none d-lg-block">
                                    <a class="nav-link" href="#">Go top &uarr;</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-9 order-lg-1">

                    <!-- Accordion -->
                    <h2 id="accordion" class="py-3">Accordion</h2>
                    <div class="accordion mb-4" id="accordionQuestions">
                        <div class="card shadow mb-2">
                            <div class="card-header" id="headingOne">
                                <h3 class="card-title">
                                    <a class="collapsed" href="#collapseOne" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Question #1 <i class="fas fa-angle-down float-right rotate-icon" aria-hidden="true"></i>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionQuestions">
                                <div class="card-body">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-2">
                            <div class="card-header" id="headingTwo">
                                <h3 class="card-title">
                                    <a class="collapsed" role="button" href="#collapseTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Question #2 <i class="fas fa-angle-down float-right rotate-icon" aria-hidden="true"></i>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionQuestions">
                                <div class="card-body">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-2">
                            <div class="card-header" id="headingThree">
                                <h3 class="card-title">
                                    <a class="collapsed" role="button" href="#collapseThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Question #3<i class="fas fa-angle-down float-right rotate-icon" aria-hidden="true"></i>
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionQuestions">
                                <div class="card-body">
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;div class="accordion" id="accordionQuestions"&gt;
                                &lt;div class="card shadow mb-2"&gt;
                                    &lt;div class="card-header" id="headingOne"&gt;
                                        &lt;h3 class="card-title"&gt;
                                            &lt;a class="collapsed" role="button" href="#collapseOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"&gt;
                                            Question #1 &lt;i class="fas fa-angle-down float-right rotate-icon" aria-hidden="true"&gt;&lt;/i&gt;
                                            &lt;/a&gt;
                                        &lt;/h3&gt;
                                    &lt;/div&gt;
                                    &lt;div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionQuestions"&gt;
                                        &lt;div class="card-body"&gt;
                                            &lt;p&gt;Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.&lt;/p&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                ...
                            &lt;/div&gt;
                        </code>
                    </pre>
                    <hr class="my-4">

                    <!-- Alerts -->
                    <h2 id="alerts" class="py-3">Alerts</h2>
                    <div class="alert alert-primary" role="alert">
                        A simple primary alert—check it out!
                    </div>
                    <div class="alert alert-secondary" role="alert">
                        A simple secondary alert—check it out!
                    </div>
                    <div class="alert alert-success" role="alert">
                        <i class="fas fa-thumbs-up mr-1"></i>
                        A simple success alert—check it out!
                    </div>
                    <div class="alert alert-danger" role="alert">
                        <i class="fas fa-exclamation-circle mr-1"></i>
                        A simple danger alert—check it out!
                    </div>
                    <div class="alert alert-warning" role="alert">
                        <i class="fas fa-exclamation-triangle mr-1"></i>
                        A simple warning alert—check it out!
                    </div>
                    <div class="alert alert-info" role="alert">
                        <i class="fas fa-info-circle mr-1"></i>
                        A simple info alert—check it out!
                    </div>
                    <div class="alert alert-light" role="alert">
                        A simple light alert—check it out!
                    </div>
                    <div class="alert alert-dark mb-4" role="alert">
                        A simple dark alert—check it out!
                    </div>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;div class="alert alert-primary" role="alert"&gt;
                                A simple primary alert—check it out!
                            &lt;/div&gt;
                            &lt;div class="alert alert-secondary" role="alert"&gt;
                                A simple secondary alert—check it out!
                            &lt;/div&gt;
                            &lt;div class="alert alert-success" role="alert"&gt;
                                &lt;i class="fas fa-thumbs-up mr-1"&gt;&lt;/i&gt;
                                A simple success alert—check it out!
                            &lt;/div&gt;
                            ...
                        </code>
                    </pre>
                    <hr class="my-4">

                    <!-- Avatars -->
                    <h2 id="avatars" class="py-3">Avatars</h2>
                    <div class="mb-4">
                        <img class="avatar avatar-sm mr-3" src="img/leo-gill.jpg" alt="Leo Gill">
                        <img class="avatar avatar-md mr-3" src="img/leo-gill.jpg" alt="Leo Gill">
                        <img class="avatar avatar-lg" src="img/leo-gill.jpg" alt="Leo Gill">
                    </div>
                    <p>To get a rounded avatar add <code>.avatar</code> and then choose between three different sizes: <code>.avatar-sm</code>, <code>.avatar-md</code> and <code>.avatar-lg</code>.</p>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;img class="avatar avatar-sm" src="img/leo-gill.jpg" alt="Leo Gill"&gt;
                            &lt;img class="avatar avatar-md" src="img/leo-gill.jpg" alt="Leo Gill"&gt;
                            &lt;img class="avatar avatar-lg" src="img/leo-gill.jpg" alt="Leo Gill"&gt;
                        </code>
                    </pre>
                    <hr class="my-4">
                    <!-- Backgrounds -->
                    <h2 id="backgrounds" class="py-3">Backgrounds</h2>
                    <h3 class="h4 mb-4">Skew background</h3>
                    <div class="bg-skew bg-skew-light">
                        <p class="mb-4">Add a <code>div</code> with the <code>.bg-skew</code> class to include a skew background in a page.</p>
                        <pre class="mb-5">
                            <code class="lang-html py-3">
                                &lt;div class="bg-skew bg-skew-light"&gt;
                                ..
                                &lt;/div&gt;
                            </code>
                        </pre>
                    </div>
                    <div class="bg-skew bg-skew-primary text-white">
                        <p class="mb-4">And set the background color using the color utilities.</p>
                        <pre class="mb-5">
                            <code class="lang-html py-3">
                                &lt;div class="bg-skew bg-skew-primary text-white"&gt;
                                ..
                                &lt;/div&gt;
                            </code>
                        </pre>
                    </div>
                    <h3 class="h4 mb-4">Image background</h3>
                    <div class="bg-cover d-flex align-items-center position-relative mb-4" style="background-image: url(img/holding-mobile.jpg);">
                        <div class="bg-overlay bg-dark alpha-7"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 py-4">
                                    <h1 class="display-4 text-white py-4 px-4">Elegant theme built with Bootstrap</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>Add <code>.bg-cover</code> to include a responsive background image. Add a <code>div</code> inside with <code>.bg-overlay</code> and <code>.bg-{color}</code> to get a color overlay. Then you can change the opacity with <code>.alpha-#</code>.</p>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;div class="bg-cover d-flex align-items-center position-relative" style="background-image:
                            url(img/holding-mobile.jpg)"&gt;
                                &lt;div class="bg-overlay bg-dark alpha-7"&gt;&lt;/div&gt;
                                &lt;div class="container"&gt;
                                    &lt;div class="row"&gt;
                                        &lt;div class="col-md-6 py-4"&gt;
                                            &lt;h1 class="display-4 text-white py-4 px-4"&gt;Elegant theme built with Bootstrap&lt;/h1&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        </code>
                    </pre>
                    <hr class="my-4">

                    <!-- Blockquotes -->
                    <h2 id="blockquotes" class="py-3">Blockquotes</h2>
                    <blockquote class="blockquote">
                        <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;blockquote class="blockquote"&gt;
                                &lt;p class="mb-2"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
                                &lt;footer class="blockquote-footer"&gt;Someone famous in &lt;cite title="Source Title"&gt;Source Title&lt;/cite&gt;&lt;/footer&gt;
                            &lt;/blockquote&gt;
                        </code>
                    </pre>
                    <blockquote class="blockquote text-center">
                        <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;blockquote class="blockquote text-center"&gt;
                                &lt;p class="mb-2"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
                                &lt;footer class="blockquote-footer"&gt;Someone famous in &lt;cite title="Source Title"&gt;Source Title&lt;/cite&gt;&lt;/footer&gt;
                            &lt;/blockquote&gt;
                        </code>
                    </pre>
                    <h3 class="h4 mb-4">Testimonials</h3>
                    <div class="row">
                        <div class="col-md">
                            <blockquote class="bg-white rounded shadow mb-4 p-4 p-lg-5 text-center">
                                <img class="avatar avatar-md mb-4" src="img/leo-gill.jpg" alt="Leo Gill">
                                <p class="text-secondary">Boost theme is awesome! We've seen amazing results already.</p>
                                <cite class="small text-uppercase">Leo Gill</cite>
                            </blockquote>
                        </div>
                        <div class="col-md">
                            <blockquote class="bg-white rounded shadow mb-4 p-4 p-lg-5 text-center">
                                <img class="avatar avatar-md mb-4" src="img/renee-sims.jpg" alt="Renee Sims">
                                <p class="text-secondary">It really saves me time and effort. Boost theme is exactly what our business has been lacking.</p>
                                <cite class="small text-uppercase">Renee Sims</cite>
                            </blockquote>
                        </div>
                    </div>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;div class="row"&gt;
                                &lt;div class="col-md"&gt;
                                    &lt;blockquote class="bg-white rounded shadow mb-4 p-4 p-lg-5 text-center"&gt;
                                        &lt;img class="avatar avatar-md mb-4" src="img/leo-gill.jpg" alt="Leo Gill"&gt;
                                        &lt;p class="text-secondary"&gt;Boost theme is awesome! We've seen amazing results already.&lt;/p&gt;
                                        &lt;cite class="small text-uppercase"&gt;Leo Gill&lt;/cite&gt;
                                    &lt;/blockquote&gt;
                                &lt;/div&gt;
                                ...
                            &lt;/div&gt;
                        </code>
                    </pre>
                    <hr class="my-4">

                    <!-- Buttons -->
                    <h2 id="buttons" class="py-3">Buttons</h2>
                    <h3 class="h4 mb-4">Pill buttons</h3>
                    <div class="my-3">
                        <button type="button" class="btn btn-pill btn-primary mb-3 mr-1">Primary</button>
                        <button type="button" class="btn btn-pill btn-secondary mb-3 mr-1">Secondary</button>
                        <button type="button" class="btn btn-pill btn-success mb-3 mr-1">Success</button>
                        <button type="button" class="btn btn-pill btn-danger mb-3 mr-1">Danger</button>
                        <button type="button" class="btn btn-pill btn-warning mb-3 mr-1">Warning</button>
                        <button type="button" class="btn btn-pill btn-info mb-3 mr-1">Info</button>
                        <button type="button" class="btn btn-pill btn-light mb-3 mr-1">Light</button>
                        <button type="button" class="btn btn-pill btn-dark mb-3 mr-1">Dark</button>
                    </div>
                    <p class="mb-4">Add <code>.btn-pill</code> to any button to make them more rounded.</p>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;button type="button" class="btn btn-pill btn-primary">Primary&lt;/button&gt;
                            &lt;button type="button" class="btn btn-pill btn-secondary"&gt;Secondary&lt;/button&gt;
                            &lt;button type="button" class="btn btn-pill btn-success"&gt;Success&lt;/button&gt;
                            ...
                        </code>
                    </pre>
                    <hr class="my-4">

                    <!-- Cards -->
                    <h2 id="cards" class="py-3">Cards</h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card mb-4">
                                <img class="card-img-top h-100" src="img/cactus.jpg" alt="A succulent in a white ceramic pot against a blue wall">
                                <div class="card-body">
                                    <h5 class="card-title">Card default</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-pill btn-primary btn-sm">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card card-hover mb-4">
                                <img class="card-img-top h-100" src="img/beach.jpg" alt="Sand beach shoreline underneath the blue sky">
                                <div class="card-body">
                                    <h5 class="card-title">Card rising</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-pill btn-primary btn-sm">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>Add <code>.card-hover</code> to animate a card on hover.</p>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;div class="card shadow"&gt;
                                &lt;img class="card-img-top" src="img/cactus.jpg" alt="A succulent in a white ceramic pot against a blue wall"&gt;
                                &lt;div class="card-body"&gt;
                                    &lt;h5 class="card-title"&gt;Card default&lt;/h5&gt;
                                    &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
                                    &lt;a href="#" class="btn btn-pill btn-primary btn-sm"&gt;Go somewhere&lt;/a&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class="card card-hover"&gt;
                                &lt;img class="card-img-top" src="img/beach.jpg" alt="Sand beach shoreline underneath the blue sky"&gt;
                                &lt;div class="card-body"&gt;
                                    &lt;h5 class="card-title"&gt;Card rising&lt;/h5&gt;
                                    &lt;p class="card-text"&gt;Some quick example text to build on the card title and make up the bulk of the card's content.&lt;/p&gt;
                                    &lt;a href="#" class="btn btn-pill btn-primary btn-sm"&gt;Go somewhere&lt;/a&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        </code>
                    </pre>
                    <h3 class="h4 my-4">Pricing cards</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-price shadow-lg mb-4">
                                <div class="card-header">
                                    <h3 class="h4 font-weight-normal">Basic</h3>
                                    <div class="d-flex justify-content-center">
                                        <span class="h4 font-weight-normal mt-1">$</span><span class="display-4 font-weight-bold">0</span>
                                    </div>
                                    <span class="text-muted">forever</span>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled text-secondary mb-4">
                                        <li class="py-2 ">5 downloads / month</li>
                                        <li class="py-2">Email support</li>
                                        <li class="py-2">No credit card required</li>
                                        <li class="py-2">Easy cancellation</li>
                                    </ul>
                                    <a class="btn btn-pill btn-outline-primary mb-3" href="#">Get started</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-price card-featured shadow-lg mb-4">
                                <div class="card-header">
                                    <h3 class="h4 font-weight-normal">Unlimited</h3>
                                    <div class="d-flex justify-content-center">
                                        <span class="h4 font-weight-normal mt-1">$</span><span class="display-4 font-weight-bold">5</span>
                                    </div>
                                    <span class="text-muted">per month</span>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled text-secondary mb-4">
                                        <li class="py-2">Unlimited downloads</li>
                                        <li class="py-2">Online support</li>
                                        <li class="py-2">Easy payment</li>
                                        <li class="py-2">Easy cancellation</li>
                                    </ul>
                                    <a class="btn btn-pill btn-primary mb-3" href="#">Get started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>Add <code>.card-featured</code> to highlight a card price.</p>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;div class="card card-price shadow-lg mb-4"&gt;
                                &lt;div class="card-header"&gt;
                                    &lt;h3 class="h4 font-weight-normal"&gt;Basic&lt;/h3&gt;
                                    &lt;div class="d-flex justify-content-center"&gt;
                                        &lt;span class="h4 font-weight-normal mt-1"&gt;$&lt;/span&gt;
                                        &lt;span class="display-4 font-weight-bold"&gt;0&lt;/span&gt;
                                    &lt;/div&gt;
                                    &lt;span class="text-muted"&gt;forever&lt;/span&gt;
                                &lt;/div&gt;
                                &lt;div class="card-body"&gt;
                                    &lt;ul class="list-unstyled text-secondary mb-4"&gt;
                                    &lt;li class="py-2"&gt;5 downloads / month&lt;/li&gt;
                                    &lt;li class="py-2"&gt;Email support&lt;/li&gt;
                                    &lt;li class="py-2"&gt;No credit card required&lt;/li&gt;
                                    &lt;li class="py-2"&gt;Easy cancellation&lt;/li&gt;
                                    &lt;/ul&gt;
                                &lt;a class="btn btn-pill btn-outline-primary mb-3" href="#"&gt;Get started&lt;/a&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class="card card-price card-featured shadow mb-4"&gt;
                            ...
                            &lt;/div&gt;
                        </code>
                    </pre>
                    <hr class="my-4">

                    <!-- Devices -->
                    <h2 id="devices" class="py-3">Devices</h2>
                    <h3 class="h4 my-4">Minimal iPhone</h3>
                    <div class="d-md-flex">
                            <div class="iphone-x mb-4 mr-4">
                                <div class="screen"></div>
                            </div>
                            <div class="iphone-x mb-4">
                                <div class="screen" style="background-image: url(img/screenshot.png)"></div>
                            </div>
                    </div>
                    <p>Showcase your app in a minimal iPhone created in pure CSS adding <code>.iphone-x</code> and <code>.screen</code>.</p>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;div class="iphone-x"&gt;
                                &lt;div class="screen" style="background-image: url(img/screenshot.png)"&gt;&lt;/div&gt;
                            &lt;/div&gt;
                        </code>
                    </pre>
                    <hr class="my-4">

                    <!-- Dropdowns -->
                    <h2 id="dropdowns" class="py-3">Dropdowns</h2>
                    <h3 class="h4 my-4">Navbar dropdown</h3>
                    <nav class="navbar navbar-expand-lg navbar-light py-3" aria-label="Main navigation">

                        <a class="navbar-brand text-dark mr-4" href="index.html">Navbar</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars fa-lg"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav align-items-lg-center text-uppercase pt-3 pt-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="DropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown<i class="fas fa-angle-down fa-sm ml-1"></i></a>
                                    <div class="dropdown-menu mb-2" aria-labelledby="DropdownMenu">
                                        <a class="dropdown-item" href="#">Subitem</a>
                                        <a class="dropdown-item" href="#">Subitem</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;nav class="navbar navbar-expand-lg navbar-light" aria-label="Main navigation"&gt;

                                &lt;a class="navbar-brand text-dark" href="index.html"&gt;Navbar&lt;/a&gt;
                                &lt;button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"&gt;
                                    &lt;i class="fas fa-bars fa-lg"&gt;&lt;/i&gt;
                                &lt;/button&gt;
                                &lt;div class="collapse navbar-collapse" id="navbar"&gt;
                                    &lt;ul class="navbar-nav align-items-lg-center text-uppercase pt-3 pt-lg-0 ml-auto"&gt;
                                        &lt;li class="nav-item dropdown"&gt;
                                            &lt;a class="nav-link dropdown-toggle" href="#" id="DropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;Dropdown&lt;i class="fas fa-angle-down fa-sm ml-1"&gt;&lt;/i&gt;&lt;/a&gt;
                                            &lt;div class="dropdown-menu mb-2" aria-labelledby="DropdownMenu"&gt;
                                                &lt;a class="dropdown-item" href="#"&gt;Subitem&lt;/a&gt;
                                                &lt;a class="dropdown-item" href="#"&gt;Subitem&lt;/a&gt;
                                            &lt;/div&gt;
                                        &lt;/li&gt;
                                    &lt;/ul&gt;
                                &lt;/div&gt;
                            &lt;/nav&gt;
                        </code>
                    </pre>
                    <hr class="my-4">

                    <!-- Forms -->
                    <h2 id="forms" class="py-3">Forms</h2>
                    <form class="mb-4">
                        <div class="form-group">
                            <label for="email" class="small text-uppercase">Email address</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="password" class="small text-uppercase">Password</label>
                            <input type="password" class="form-control" id="password">
                        </div>
                        <button type="submit" class="btn btn-pill btn-primary">Submit</button>
                    </form>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;form&gt;
                                &lt;div class="form-group"&gt;
                                    &lt;label for="email" class="small text-uppercase"&gt;Email address&lt;/label&gt;
                                    &lt;input type="email" class="form-control" id="email"&gt;
                                &lt;/div&gt;
                                &lt;div class="form-group"&gt;
                                    &lt;label for="password" class="small text-uppercase"&gt;Password&lt;/label&gt;
                                    &lt;input type="password" class="form-control" id="password"&gt;
                                &lt;/div&gt;
                                &lt;button type="submit" class="btn btn-pill btn-primary"&gt;Submit&lt;/button&gt;
                            &lt;/form&gt;
                        </code>
                    </pre>
                    <hr class="my-4">

                    <!-- Icons -->
                    <h2 id="icons" class="py-3">Icons</h2>
                    <div class="py-3">
                        <span class="icon icon-sm icon-primary mb-2 mr-2">
                            <i class="icon-inner fas fa-mobile-alt"></i>
                        </span>
                        <span class="icon icon-warning mb-2 mr-2">
                            <i class="icon-inner fas fa-tablet-alt"></i>
                        </span>
                        <span class="icon icon-lg icon-success mb-2 mr-2">
                            <i class="icon-inner fas fa-desktop"></i>
                        </span>
                    </div>
                    <p>Boost uses Font Awesome, the world’s most popular and easiest to use icon set.</p>
                    <p>To add an icon with a background color, add a container with the class <code>icon</code> and the <code>icon-{color}</code>. You can change the icon size adding <code>.icon-sm</code> or <code>.icon-lg</code>. Then include an icon inside with the class <code>.icon-inner</code>.</p>
                    <pre>
                        <code class="lang-html py-3">
                            &lt;span class="icon icon-sm icon-primary"&gt;
                                &lt;i class="icon-inner fas fa-mobile-alt"&gt;&lt;/i&gt;
                            &lt;/span&gt;
                            &lt;span class="icon icon-warning"&gt;
                                &lt;i class="icon-inner fas fa-tablet-alt"&gt;&lt;/i&gt;
                            &lt;/span&gt;
                            &lt;span class="icon icon-lg icon-success"&gt;
                                &lt;i class="icon-inner fas fa-desktop"&gt;&lt;/i&gt;
                            &lt;/span&gt;
                        </code>
                    </pre>
                    <p><a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank">See all available icons</a>.</p>
                    <hr class="my-4">

                    <!-- Links -->
                    <h2 id="links" class="py-3">Links</h2>
                    <p>Links inside paragraphs are <a href="javascript:void(0)">underlined</a>. It ensures link visibility when users scan a text and also facilitates link identification for color-blind users.</p>
                    <a class="d-inline-block link-cta mb-3" href="javascript:void(0)">Featured link</a>
                    <p>To highlight a link that is not included in a paragraph add <code>.link-cta</code>.</p>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;a class="link-cta" href="#">Featured link&lt;/a&gt;
                        </code>
                    </pre>
                    <hr class="my-4">

                    <!-- Pagination -->
                    <h2 id="pagination" class="py-3">Pagination</h2>

                    <nav class="pb-2" aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>

                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;nav aria-label="Page navigation"&gt;
                                &lt;ul class="pagination"&gt;
                                    &lt;li class="page-item"&gt;&lt;a class="page-link" href="#"&gt;Previous&lt;/a&gt;&lt;/li&gt;
                                    &lt;li class="page-item active"&gt;&lt;a class="page-link" href="#"&gt;1&lt;/a&gt;&lt;/li&gt;
                                    &lt;li class="page-item"&gt;&lt;a class="page-link" href="#"&gt;2&lt;/a&gt;&lt;/li&gt;
                                    &lt;li class="page-item"&gt;&lt;a class="page-link" href="#"&gt;3&lt;/a&gt;&lt;/li&gt;
                                    &lt;li class="page-item"&gt;&lt;a class="page-link" href="#"&gt;Next&lt;/a&gt;&lt;/li&gt;
                                &lt;/ul&gt;
                            &lt;/nav&gt;
                        </code>
                    </pre>

                    <hr class="my-4">

                    <!-- Tables -->
                    <h2 id="tables" class="py-3">Tables</h2>
                    <h3 class="h4">Default style</h3>
                    <table class="table mb-4">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th class="text-uppercase" scope="col">First</th>
                                <th class="text-uppercase" scope="col">Last</th>
                                <th class="text-uppercase" scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>

                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;table class="table"&gt;
                                &lt;thead class="thead-light"&gt;
                                    &lt;tr&gt;
                                        &lt;th scope="col"&gt;#&lt;/th&gt;
                                        &lt;th class="text-uppercase" scope="col"&gt;First&lt;/th&gt;
                                        &lt;th class="text-uppercase" scope="col"&gt;Last&lt;/th&gt;
                                        &lt;th class="text-uppercase" scope="col"&gt;Handle&lt;/th&gt;
                                    &lt;/tr&gt;
                                &lt;/thead&gt;
                                &lt;tbody&gt;
                                    &lt;tr&gt;
                                        &lt;th scope="row"&gt;1&lt;/th&gt;
                                        &lt;td&gt;Mark&lt;/td&gt;
                                        &lt;td&gt;Otto&lt;/td&gt;
                                        &lt;td&gt;@mdo&lt;/td&gt;
                                    &lt;/tr&gt;
                                    ...
                                &lt;/tbody&gt;
                            &lt;/table&gt;
                        </code>
                    </pre>

                    <h3 class="h4">Color table</h3>
                    <table class="table table-primary">
                        <thead class="table-active">
                            <tr>
                                <th scope="col">#</th>
                                <th class="text-uppercase" scope="col">First</th>
                                <th class="text-uppercase" scope="col">Last</th>
                                <th class="text-uppercase" scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;table class="table table-primary"&gt;
                                &lt;thead class="table-active"&gt;
                                    &lt;tr&gt;
                                        &lt;th scope="col"&gt;#&lt;/th&gt;
                                        &lt;th class="text-uppercase" scope="col"&gt;First&lt;/th&gt;
                                        &lt;th class="text-uppercase" scope="col"&gt;Last&lt;/th&gt;
                                        &lt;th class="text-uppercase" scope="col"&gt;Handle&lt;/th&gt;
                                    &lt;/tr&gt;
                                &lt;/thead&gt;
                                &lt;tbody&gt;
                                    &lt;tr&gt;
                                        &lt;th scope="row"&gt;1&lt;/th&gt;
                                        &lt;td&gt;Mark&lt;/td&gt;
                                        &lt;td&gt;Otto&lt;/td&gt;
                                        &lt;td&gt;@mdo&lt;/td&gt;
                                    &lt;/tr&gt;
                                    ...
                                &lt;/tbody&gt;
                            &lt;/table&gt;
                        </code>
                    </pre>

                    <h3 class="h4">Pricing table</h3>
                    <table class="table shadow pricing-table table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">
                                    <span class="h4 font-weight-normal">Basic</span>
                                    <div class="d-flex">
                                        <span class="h4 font-weight-normal mt-1">$</span><span class="display-4 font-weight-bold">0</span>
                                    </div>
                                    <small class="d-block text-muted">forever</small>
                                    <a class="btn btn-sm btn-pill btn-outline-primary mt-4" href="#">Get started</a>
                                </th>
                                <th scope="col">
                                    <span class="h4 font-weight-normal">Standard</span>
                                    <div class="d-flex">
                                        <span class="h4 font-weight-normal mt-1">$</span><span class="display-4 font-weight-bold">5</span>
                                    </div>
                                    <small class="d-block text-muted">per month</small>
                                    <a class="btn btn-sm btn-pill btn-primary mt-4" href="#">Get started</a>
                                </th>
                                <th scope="col">
                                    <span class="h4 font-weight-normal">Unlimited</span>
                                    <div class="d-flex">
                                        <span class="h4 font-weight-normal mt-1">$</span><span class="display-4 font-weight-bold">10</span>
                                    </div>
                                    <small class="d-block text-muted">per month</small>
                                    <a class="btn btn-sm btn-pill btn-outline-primary mt-4" href="#">Get started</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Downloads<br><small class="text-secondary">per month</small></th>
                                <td>5</td>
                                <td>15</td>
                                <td>Unlimited</td>
                            </tr>
                            <tr>
                                <th scope="row">Email support<br><small class="text-secondary">24/7 support</small></th>
                                <td>
                                    <i class="far fa-check-circle fa-lg text-success" aria-hidden="true"></i>
                                    <span class="sr-only">Yes</span>
                                </td>
                                <td>
                                    <i class="far fa-check-circle fa-lg text-success" aria-hidden="true"></i>
                                    <span class="sr-only">Yes</span>
                                </td>
                                <td>
                                    <i class="far fa-check-circle fa-lg text-success" aria-hidden="true"></i>
                                    <span class="sr-only">Yes</span>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">White Labeling<br><small class="text-secondary">use your branding</small></th>
                                <td>-</td>
                                <td>
                                    <i class="far fa-check-circle fa-lg text-success" aria-hidden="true"></i>
                                    <span class="sr-only">Yes</span>
                                </td>
                                <td>
                                    <i class="far fa-check-circle fa-lg text-success" aria-hidden="true"></i>
                                    <span class="sr-only">Yes</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;table class="table shadow pricing-table table-responsive-md"&gt;
                                &lt;thead&gt;
                                    &lt;tr&gt;
                                        &lt;th scope="col"&gt;&lt;/th&gt;
                                        &lt;th scope="col"&gt;
                                            &lt;span class="h4 font-weight-normal"&gt;Basic&lt;/span&gt;
                                            &lt;div class="d-flex"&gt;
                                                &lt;span class="h4 font-weight-normal mt-1"&gt;$&lt;/span&gt;&lt;span class="display-4 font-weight-bold"&gt;0&lt;/span&gt;
                                            &lt;/div&gt;
                                            &lt;small class="d-block text-muted"&gt;forever&lt;/small&gt;
                                            &lt;a class="btn btn-sm btn-pill btn-outline-primary mt-4" href="#"&gt;Get started&lt;/a&gt;
                                        &lt;/th&gt;
                                        ...
                                    &lt;/tr&gt;
                                &lt;/thead&gt;
                                &lt;tbody&gt;
                                    &lt;tr&gt;
                                        &lt;th scope="row"&gt;Downloads&lt;br&gt;&lt;small class="text-secondary"&gt;per month&lt;/small&gt;&lt;/th&gt;
                                        &lt;td&gt;5&lt;/td&gt;
                                        &lt;td&gt;15&lt;/td&gt;
                                        &lt;td&gt;Unlimited&lt;/td&gt;
                                    &lt;/tr&gt;
                                    &lt;tr&gt;
                                        &lt;th scope="row"&gt;Email support&lt;br&gt;&lt;small class="text-secondary"&gt;24/7 support&lt;/small&gt;&lt;/th&gt;
                                        &lt;td&gt;
                                            &lt;i class="far fa-check-circle fa-lg text-success" aria-hidden="true"&gt;&lt;/i&gt;
                                            &lt;span class="sr-only"&gt;Yes&lt;/span&gt;
                                        &lt;/td&gt;
                                        &lt;td&gt;
                                            &lt;i class="far fa-check-circle fa-lg text-success" aria-hidden="true"&gt;&lt;/i&gt;
                                            &lt;span class="sr-only"&gt;Yes&lt;/span&gt;
                                        &lt;/td&gt;
                                        &lt;td&gt;
                                            &lt;i class="far fa-check-circle fa-lg text-success" aria-hidden="true"&gt;&lt;/i&gt;
                                            &lt;span class="sr-only"&gt;Yes&lt;/span&gt;
                                        &lt;/td&gt;
                                    &lt;/tr&gt;
                                    ...
                                &lt;/tbody&gt;
                            &lt;/table&gt;
                        </code>
                    </pre>

                    <hr class="my-4">
                    <!-- Text -->
                    <h2 id="text" class="py-3">Text</h2>
                    <h3 class="h4">Font family</h3>
                    <p>Quickly change the font family (serif/sans-serif) of text.</p>
                    <p class="font-serif">Serif font</p>
                    <p class="font-sans-serif">Sans serif font</p>
                    <pre class="mb-5">
                        <code class="lang-html py-3">
                            &lt;p class="font-serif"&gt;Serif font&lt;/p&gt;
                            &lt;p class="font-sans-serif"&gt;Sans serif font&lt;/p&gt;
                        </code>
                    </pre>
                    <hr class="my-4">
                </div>
            </div>
        </div>
    </main>
{% endblock %}
