{% extends "layouts/default.njk" %}
{% set page = "pages" %}
{% block content %}
    <main id="main">
        <div class="container">
            <div class="row justify-content-lg-center py-5">
                <div class="col-lg-9 text-center py-4 py-lg-5">
                    <h1 class="display-4 mb-4">Pages</h1>
                    <p class="lead mb-4">A set of pages made to start your website quickly.</p>
                </div>
            </div>
        </div>
        <div class="bg-skew bg-skew-light">

            <h2 class="text-center">Landing</h2>

                <div class="container">
                    <div class="row py-4">
                        <div class="col-lg-6">
                            <a href="app.html">
                                <img src="img/app.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                                <h2 class="h5 text-center text-dark mb-5">App</h2>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a href="course.html">
                                <img src="img/course.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                                <h2 class="h5 text-center text-dark mb-5">Course</h2>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a href="event.html">
                                <img src="img/event.jpg" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                                <h2 class="h5 text-center text-dark mb-5">Event</h2>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a href="saas.html">
                                <img src="img/saas.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                                <h2 class="h5 text-center text-dark mb-5">Saas</h2>
                            </a>
                        </div>
                    </div>

                    <h2 class="text-center">Blog</h2>

                    <div class="row py-4">
                        <div class="col-lg-6">
                            <a href="blog.html">
                                <img src="img/blog.jpg" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                                <h2 class="h5 text-center text-dark mb-5">Blog</h2>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a href="article.html">
                                <img src="img/article.jpg" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                                <h2 class="h5 text-center text-dark mb-5">Article</h2>
                            </a>
                        </div>
                    </div>

                    <h2 class="text-center">About & Contact</h2>

                    <div class="row py-4">
                        <div class="col-lg-6">
                            <a href="about.html">
                                <img src="img/about.png" class="img-fluid img-thumbnail mb-4" alt="Demo Pages">
                                <h2 class="h5 text-center text-dark mb-5">About</h2>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a href="contact.html">
                                <img src="img/contact.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                                <h2 class="h5 text-center text-dark mb-5">Contact</h2>
                            </a>
                        </div>
                    </div>

                    <h2 class="text-center">Pricing</h2>

                    <div class="row py-4">
                        <div class="col-lg-6">
                            <a href="pricing-cards.html">
                                <img src="img/pricing-cards.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                                <h2 class="h5 text-center text-dark mb-5">Pricing Cards</h2>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a href="pricing-table.html">
                                <img src="img/pricing-table.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                                <h2 class="h5 text-center text-dark mb-5">Pricing Table</h2>
                            </a>
                        </div>
                    </div>

                    <h2 class="text-center">Account & Utility</h2>

                    <div class="row py-4">
                        <div class="col-lg-6">
                            <a href="account-sign-up.html">
                                <img src="img/sign-up.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                                <h2 class="h5 text-center text-dark mb-5">Sign Up</h2>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a href="account-log-in.html">
                                <img src="img/log-in.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                                <h2 class="h5 text-center text-dark mb-5">Log In</h2>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a href="account-recover.html">
                                <img src="img/recover.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                                <h2 class="h5 text-center text-dark mb-5">Password Reset</h2>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a href="404.html">
                                <img src="img/404.png" class="img-fluid img-thumbnail mb-4" alt="Demo page">
                                <h2 class="h5 text-center text-dark mb-5">Error 404</h2>
                            </a>
                        </div>
                    </div>

                </div>

        </div><!-- end bg-skew -->
    </main>
{% endblock %}
