.navbar-brand {
  width: 100%;
  display: flex;
  align-items: center;
  .navLogo {
    width: 50px;
    max-height: 50px;
    margin-right: 0.5rem;
  }
  .navBarName {
    text-transform: uppercase;
    font-size: 1.2rem;
  }
}

.unfall {
  .icon {
    background: theme-color("primary");

    color: $white;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100px;
    width: 100px;
  }
}

footer.site-footer {
  margin-top: 150px;
  border-top: 1px solid theme-color("light");
}

.footerRightSide {
  @media screen and (min-width: 768px) {
    text-align: right;
  }
}

.bg-skew-primary:before {
  background: linear-gradient(
    90deg,
    theme-color("primary"),
    theme-color("secondary")
  );
}

.btn-primary {
  background: linear-gradient(
    90deg,
    theme-color("primary"),
    theme-color("secondary")
  );
  border: none;
}
.btn-light {
  background-color: #ffffff;
  border-color: #ffffff;
}
